<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Components &middot; ME 415
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/my.css">
  <link rel="stylesheet" href="/public/css/academicons.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/public/css/toc.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png"> -->
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/apple-touch-icon-152x152.png" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- script -->
  <script type="text/javascript">  // used to hide/show BibTeX blocks
  <!--
      function toggle_visibility(id) {
         var e = document.getElementById(id);
         if(e.style.display == 'block')
            e.style.display = 'none';
         else
            e.style.display = 'block';
      }
  //-->
  </script>

  <!-- mathjax -->
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
  </script>

  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134508820-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134508820-1');
  </script>
  


</head>


  <body class="theme-base-08 layout-top">

    <div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/me415">
          ME 415
        </a>
      </h1>
      <p class="lead">Flight Vehicle Design</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="/me415/syllabus">Syllabus</a>
      <a class="sidebar-nav-item" href="/me415/schedule">Schedule</a>
      <a class="sidebar-nav-item" href="/me415/resources">Resources</a>

    </nav>

    <p>&copy; 2019. All rights reserved.</p>
  </div>
</div>


    <div class="content container">
    <!-- <h1 class="page-title">Components</h1> -->
      <h3 id="costs">Costs</h3>

<p>All costs below are per team (not per individual).</p>

<p>1) Some general supplies we have purchased for you as they are more effective to get in bulk.  You will need to pay a material fee of $75 at the EE Shop under the name ME 415.  Sometime around the time of HW 5 bring the receipt to one of the TAs or myself.  This covers a variety of miscellaneous things you have used or will use (the pink foam blocks, control horns, music wire, y-cables, bullet connectors, adhesives, fiber tape, some depreciation on tools/electronics, etc.).</p>

<p>2) In HW 5 you will design the motor, propeller, ESC, battery, combination that you want for your airplane.  After obtaining TA approval, you will make this purchase on your own.  You’ll also want to purchase some servos at the EE shop.  The cost of all these components will probably be approximately $75.</p>

<p>3) In an effort to save you costs, we will loan you the electronics that we can reuse for future teams (receiver, telemetry radio, and GPS).  If you wish to keep them we will sell them to you at cost (see prices below).  Please keep in mind that anything not returned in good working order will need to be paid for.  We will also be lending the transmitters though there are just 2 of those total, not 1 per team.</p>

<p>The total estimated cost, assuming you return the electronics, is about $30 per student.  You may recall that the expected cost per the syllabus is up to $50/student.  That should leave you adequate margin for other materials (extra foam, wood, carbon rods, etc.) that you may want for your particular design choices.</p>

<h3 id="components-we-supply-returned-at-end-of-semester">Components We Supply (returned at end of semester)</h3>

<table>
  <tbody>
    <tr>
      <td><a href="https://3dr.com/wp-content/uploads/2017/03/3DR-Radio-V2-doc1.pdf">Radio</a> (x 2)</td>
      <td>26.7 cm x 55.5 cm x 13.3 cm</td>
      <td>25 grams</td>
      <td>$21.5 each</td>
    </tr>
    <tr>
      <td><a href="https://www.banggood.com/Dual-BN-220-NEO-M8N-GPS-GLONASS-Antenna-Module-Ublox-M8030-TTL-Level-p-1208588.html?gmcCountry=US&amp;currency=USD&amp;createTmp=1&amp;cur_warehouse=CN&amp;utm_source=googleshopping&amp;utm_medium=cpc_ods&amp;utm_content=heath&amp;utm_campaign=pla-fpv-us-pc&amp;gclid=CjwKCAjw54fdBRBbEiwAW28S9q9_KXP_ac_OicuSc67T1YkbK8UGysIGxA9qlkuc1xGf9yctIg9qJxoCFdcQAvD_BwE">GPS</a></td>
      <td>22mm x 20mm x 6mm</td>
      <td>5.3 grams</td>
      <td>$10</td>
    </tr>
    <tr>
      <td><a href="https://hobbyking.com/en_us/frsky-v8r4-ii-2-4ghz-4ch-receiver.html">Receiver</a></td>
      <td>36 x 17.5 x 8mm</td>
      <td>3.5 grams</td>
      <td>$16</td>
    </tr>
  </tbody>
</table>

<h3 id="advice-for-ordering-components">Advice for Ordering Components</h3>

<ul>
  <li>Don’t overpay for your components. Here’s an estimate of how much each of your components should cost:
    <ul>
      <li>Batteries: $5-10 each</li>
      <li>ESCs: ~$10 each</li>
      <li>Motors: $10-25 each</li>
      <li>Propellers: Varies, but generally inexpensive</li>
    </ul>
  </li>
  <li>
    <p>Make sure you minimize shipping costs.  Ideally, you shouldn’t have to pay for shipping at all.  I recommend you batch your orders together (i.e., order all your components from the same place).  If your order is high enough in value, it may qualify for free shipping (&gt;$50 Hobbyking orders from the U.S. Warehouse qualify for free shipping).  Consider combining your order with another group if you don’t qualify for free shipping.</p>
  </li>
  <li>
    <p>Ensure that shipping times are reasonable for the merchant you choose.  Some hobby websites are not very efficient at getting components shipped.  Others ship from China and we don’t have time to wait that long. Make sure you know the time frame for shipping so you can get your components within the next week or two.  Also, do not order backordered items. They will not arrive in time.  Components from the Hobbyking U.S. warehouse, using standard shipping, generally take about a week from when the order is placed.</p>
  </li>
  <li>
    <p>Unless your plane is terribly inefficient (and hopefully it is not after all this analysis) you shouldn’t need a huge battery.  It’ll just add extra weight.  A good size is probably somewhere between 500 mAh and 1500 mAh, depending on the size of your plane.  Based on your estimated power requirements you should be able to predict roughly how much power you actually will need.</p>
  </li>
  <li>
    <p>You can get battery connectors and <a href="http://akizukidenshi.com/download/ds/towerpro/SG90.pdf">servos</a> at the EE Shop.</p>
  </li>
  <li>
    <p>Make sure you know how you’re mounting your propeller to your motor.  Some motors come with components for this, other’s don’t. You may need to buy a propeller adapter to attach your propeller to your motor.</p>
  </li>
  <li>
    <p>For purchasing multiple RC aircraft components we generally recommend Hobbyking for value and selection.  If you only need a single component there’s a hobby store in Orem (HobbyTown USA), but their prices are higher.  Amazon is sometimes an option but the selection is more limited and quality is sometimes questionable.</p>
  </li>
  <li>
    <p>Here are some good motor options.  Remember to not exceed 150 W/kg (total power) and don’t build an airplane larger than 1 kg:</p>

    <p>126-150 W Motors (ordered by Kv)</p>
    <ul>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-dst-700-brushless-outrunner-motor-700kv.html">https://hobbyking.com/en_us/turnigy-aerodrive-dst-700-brushless-outrunner-motor-700kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-park450-brushless-outrunner-890kv.html">https://hobbyking.com/en_us/turnigy-park450-brushless-outrunner-890kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/d2822-14-brushless-outrunner-1450kv.html?wrh_pdp=2">https://hobbyking.com/en_us/d2822-14-brushless-outrunner-1450kv.html?wrh_pdp=2</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2830-920kv-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2830-920kv-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-dst-1200-brushless-outrunner-motor-1200kv.html">https://hobbyking.com/en_us/turnigy-aerodrive-dst-1200-brushless-outrunner-motor-1200kv.html</a></li>
    </ul>

    <p>101-125 W Motors (ordered by Kv)</p>
    <ul>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2826-1130kv-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2826-1130kv-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-ld2816a-brushless-outrunner-1350kv.html">https://hobbyking.com/en_us/turnigy-ld2816a-brushless-outrunner-1350kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2822-1740kv-brushless-outrunner-motor-1.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2822-1740kv-brushless-outrunner-motor-1.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hextronik-24gram-brushless-outrunner-3000kv.html">https://hobbyking.com/en_us/hextronik-24gram-brushless-outrunner-3000kv.html</a></li>
    </ul>

    <p>76-100 W Motors (ordered by Kv)</p>
    <ul>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2826-980kv-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2826-980kv-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-park300-brushless-outrunner-1080kv.html">https://hobbyking.com/en_us/turnigy-park300-brushless-outrunner-1080kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2822-1090kv-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2822-1090kv-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-park300-brushless-outrunner-1380kv.html">https://hobbyking.com/en_us/turnigy-park300-brushless-outrunner-1380kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hextronik-24gram-brushless-outrunner-1500kv.html">https://hobbyking.com/en_us/hextronik-24gram-brushless-outrunner-1500kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hobbykingr-tm-2612-brushless-outrunner-1900kv.html">https://hobbyking.com/en_us/hobbykingr-tm-2612-brushless-outrunner-1900kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/ax-1806n-2100kv-brushless-micro-motor-19g.html">https://hobbyking.com/en_us/ax-1806n-2100kv-brushless-micro-motor-19g.html</a></li>
    </ul>

    <p>50-75 W Motors (ordered by Kv)</p>
    <ul>
      <li><a href="https://hobbyking.com/en_us/a20-22l-920kv-brushless-outrunner.html">https://hobbyking.com/en_us/a20-22l-920kv-brushless-outrunner.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-ax-2203c-1400kv-60w-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-ax-2203c-1400kv-60w-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-ax-2204c-1450kv-70w-brushless-outrunner-motor.html">https://hobbyking.com/en_us/turnigy-ax-2204c-1450kv-70w-brushless-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-park250-brushless-outrunner-1680kv.html">https://hobbyking.com/en_us/turnigy-park250-brushless-outrunner-1680kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hextronik-16gram-brushless-outrunner-1700kv.html">https://hobbyking.com/en_us/hextronik-16gram-brushless-outrunner-1700kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-park250-brushless-outrunner-2200kv.html">https://hobbyking.com/en_us/turnigy-park250-brushless-outrunner-2200kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hextronik-20g-brushless-outrunner-2300kv.html">https://hobbyking.com/en_us/hextronik-20g-brushless-outrunner-2300kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-1811-brushless-indoor-motor-3800kv.html">https://hobbyking.com/en_us/turnigy-1811-brushless-indoor-motor-3800kv.html</a></li>
    </ul>

    <p>25-49 W Motors (ordered by Kv)</p>
    <ul>
      <li><a href="https://hobbyking.com/en_us/hd2910-1700kv-indoor-profile-f3p-outrunner-motor.html">https://hobbyking.com/en_us/hd2910-1700kv-indoor-profile-f3p-outrunner-motor.html</a></li>
      <li><a href="https://hobbyking.com/en_us/18-11-2000kv-micro-brushless-outrunner-10g.html">https://hobbyking.com/en_us/18-11-2000kv-micro-brushless-outrunner-10g.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hextronik-5gram-brushless-outrunner-2000kv.html">https://hobbyking.com/en_us/hextronik-5gram-brushless-outrunner-2000kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-1811-brushless-outrunner-2900kv.html">https://hobbyking.com/en_us/turnigy-1811-brushless-outrunner-2900kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/c10-micro-brushless-outrunner-2900kv.html">https://hobbyking.com/en_us/c10-micro-brushless-outrunner-2900kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2118-3100kv-brushless-outrunner-motor-1.html">https://hobbyking.com/en_us/turnigy-aerodrive-sk3-2118-3100kv-brushless-outrunner-motor-1.html</a></li>
      <li><a href="https://hobbyking.com/en_us/hobbyking-1612-brushless-outrunner-3200kv.html">https://hobbyking.com/en_us/hobbyking-1612-brushless-outrunner-3200kv.html</a></li>
      <li><a href="https://hobbyking.com/en_us/ad-c5-micro-motor-4-6g-weight-3700kv.html">https://hobbyking.com/en_us/ad-c5-micro-motor-4-6g-weight-3700kv.html</a></li>
    </ul>
  </li>
</ul>

    </div>

  </body>
</html>
