/*Increase margin between list items*/
li{
  margin: 0 0 10px 0;
}

/*smaller width images*/
img.medallion {
  width: 200px;
  padding-right: 40px;
}

/* more space on h2*/
h2{
 margin: 50px 0 10px 0;
}

/* hide bibtex by default */
.bibtex{
    display: none;
}


/* style images on reserach page */
.research-image{
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 48em) {
  .research-image{
      width: 16em;
  }
}


.img-left{
    float: left;
}

.img-right{
    float: right;
}

@media (min-width: 48em) {
  .img-left{
      margin-right: 20px;
  }

  .img-right{
      margin-left: 20px;
  }
}


/*Style images on people page*/
.person{
  width: 200px;
  height: auto;
  float: left;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  text-align: center;
}

.person img{
  width: 180px;
}

.person-pi{
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;

}

.person-pi img{
  float: left;
  width: 180px;
  height: 240px;
  margin: 0;
  margin-right: 10px;
}

.person-pi h3{
  margin: 0px;
  padding: 0px;
}

/* twitter */

blockquote.twitter-tweet {
    /*border-left: 0;*/
    background: url(https://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_32_gray.png) 20px 10px no-repeat;
}

blockquote.twitter-tweet p{
  padding-left: 40px;
}