/*Increase margin between list items*/
li{
  margin: 0 0 10px 0;
}

/*smaller width images*/
img.medallion {
  width: 200px;
  padding-right: 40px;
}

/* more space on h2*/
h2{
 margin: 50px 0 30px 0;
}

/* hide bibtex by default */
.bibtex{
    display: none;
}


/* style images on reserach page */
/*.research-image{
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 48em) {
  .research-image{
      width: 16em;
  }
}*/

.width-full{
  width: 100%;
  margin-top: 10px;
}

.width-half{
  width: 45%;
  float: right;
  margin-left: 20px;
  margin-top: 10px;
}

@media (max-width: 48em) {
  .width-half{
      width: 100%;
      margin-top: 10px;
      margin-left: 0px;
      float: none;
  }
}


.img-left{
    float: left;
}

.img-right{
    float: right;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 48em) {
  .img-left{
      margin-right: 20px;
  }

  .img-right{
      margin-left: 20px;
  }
}



/*Style images on people page*/

.person{
  width: 180px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 0px;
}

ul.icons{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.icons li{
  display: inline;
}

.textsquare{
  width: 1.7em !important;
  height: 2.9em !important;
}

.white{
  color: white;
}

/*.person{
  width: 200px;
  height: auto;
  float: left;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  text-align: center;
}

.person img{
  width: 180px;
}*/

/*.person-pi{
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;

}

.person-pi img{
  float: left;
  width: 180px;
  height: 240px;
  margin: 0;
  margin-right: 10px;
}

.person-pi h3{
  margin: 0px;
  padding: 0px;
}*/

/* twitter */

blockquote.twitter-tweet {
    /*border-left: 0;*/
    background: url(https://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_32_gray.png) 20px 10px no-repeat;
}

blockquote.twitter-tweet p{
  padding-left: 40px;
}

/* empty cells in table header */
th:empty { display: none; }


/* ---- top bar ----- */

/* undo sidebar changes */
.layout-top .sidebar {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    text-align: center;
    max-width: none;
    padding: 1rem 1rem;  /* shorten padding */
}

/* undo content changes */
.layout-top .content {
  /*max-width: none;*/
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  .layout-top .content {
    max-width: 58rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  /* change nav to horizontal  */
  .layout-top .sidebar-nav-item {
      display: inline;
      padding-left: 1rem;
      padding-right: 1rem;
      border-right: 1px solid #bbbbbb;
  }

  .layout-top .sidebar-nav-item:last-child {
      border-right: none;
  }

}


/* fix table column widths for course page */
.class-schedule{
    table-layout: fixed;
    width: 100%;
}

.class-schedule th:nth-of-type(1) {
    width:11%;
}

.class-schedule th:nth-of-type(2) {
    width:45%;
}

.class-schedule th:nth-of-type(3) {
    width:20%;
}

.class-schedule th:nth-of-type(4) {
    width:24%;
}


/* fix table column widths for course page */
.class-schedulefive{
    table-layout: fixed;
    width: 100%;
}

.class-schedulefive th:nth-of-type(1) {
    width:12%;
}

.class-schedulefive th:nth-of-type(2) {
    width:22%;
}

.class-schedulefive th:nth-of-type(2) {
    width:22%;
}

.class-schedulefive th:nth-of-type(3) {
    width:22%;
}

.class-schedulefive th:nth-of-type(4) {
    width:22%;
}

/* change table coloring for course pages*/

.class-schedule tbody tr td,
.class-schedule tbody tr th {
  background-color: #ffffff;
}

.class-schedulefive tbody tr td,
.class-schedulefive tbody tr th {
  background-color: #ffffff;
}


.three-class tbody tr:nth-child(4n+1) td,
.three-class tbody tr:nth-child(4n+1) th {
  background-color: #f9f9f9;
}

.four-class tbody tr:nth-child(5n+1) td,
.four-class tbody tr:nth-child(5n+1) th {
  background-color: #f9f9f9;
}


/* TA photo */

/*.ta{
  width: 100px;
  height: auto;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 0px;
}*/

div.ta {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 120px;
}
ta img {
    width: 100px;
    height: auto;
    /*background-color: grey;*/
}
ta .caption {
    display: block;
}


/* banner */

img.banner {
  border-radius: 0px;
  margin: 0;
}